'.source.php':

	##░░░░░░░░░░░░░░░░░░░░░░░░░░░
	##
	##    DIRECTORY
	##
	##    _Directory
	##    _Sections
	##    _DocBlocks
	##
	##░░░░░░░░░░░░░░░░░░░░░░░░░░░

	##≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	## _Directory
	##≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡

	'Directory':
		'prefix': 'dir'
		'body': """
			//░░░░░░░░░░░░░░░░░░░░░░░░░░░
			//
			//    DIRECTORY
			//
			//    _${1:Section}
			//
			//░░░░░░░░░░░░░░░░░░░░░░░░░░░

			$2
		"""

	'Directory (Index) Section':
		'prefix': 'isec'
		'body': '//    _${1:Section}'

	'Directory (Index) Subsection':
		'prefix': 'isub'
		'body': '//      ∟${1:Subsection}'


	##≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	## _Sections
	##≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡

	'Section':
		'prefix': 'sec'
		'body': """
			//≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
			// _${1:Section}
			//≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
			$2
		"""

	'Subsection':
		'prefix': 'sub'
		'body': """
			//∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴
			// ∟${1:Subsection}
			//∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴
			$2
		"""

	##≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	## _DocBlocks (Notes)
	##≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡

	'DocBlock (Notes) Section':
		'prefix': 'ns'
		'body': """
			/** ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
			*
			na${1:v}
			*
			*///≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
		"""

	'DocBlock (Notes) Section w/ Version & Author':
		'prefix': 'nsva'
		'body': """
			/** ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
			*
			*    @version 1.0.0
			*    @author ${1:Name} (${2:1.0.0})
			*
			*///≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
		"""

	'DocBlock (Notes) Subsection':
		'prefix': 'nss'
		'body': """
			/** ∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵
			*
			na${1:v}
			*
			*///∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴
		"""

	'DocBlock (Notes) Subsection w/ Version & Author':
		'prefix': 'nssva'
		'body': """
			/** ∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵
			*
			*    @version 1.0.0
			*    @author ${1:Name} (${2:1.0.0})
			*
			*///∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴
		"""

	'DocBlock (Notes) Description':
		'prefix': 'nad'
		'body': """
			*    Description:
			*    ${1:Start describing code below}
		"""

	'DocBlock (Notes) Version':
		'prefix': 'nav'
		'body': """
			*    @version 1.0.0$1
		"""

	'DocBlock (Notes) Author':
		'prefix': 'naa'
		'body': """
			*    @author ${1:Name} (${2:1.0.0})
		"""

	'DocBlock (Notes) Return':
		'prefix': 'nar'
		'body': """
			*    @return ${1:string} $2
		"""

	'DocBlock (Notes) Parameters':
		'prefix': 'nap'
		'body': """
			*    @param ${1:Parameter} $2
		"""

	'DocBlock (Notes) See':
		'prefix': 'nas'
		'body': """
			*    @see ${1:Reference} $2
		"""

	'DocBlock (Notes) Function Use':
		'prefix': 'nau'
		'body': """
			*    @uses ${1:Function Name}
			*       [${2:File Path}]
		"""