'.source.php':

	##░░░░░░░░░░░░░░░░░░░░░░░░░░░
	##
	##    DIRECTORY
	##
	##    _Directory
	##    _Sections
	##    _DocBlocks
	##
	##░░░░░░░░░░░░░░░░░░░░░░░░░░░

	##≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	## _Directory
	##≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡

	'Directory':
		'prefix': 'dir'
		'body': """
			//░░░░░░░░░░░░░░░░░░░░░░░░░░░
			//
			//    DIRECTORY
			//
			//    _${1:Section}
			//
			//░░░░░░░░░░░░░░░░░░░░░░░░░░░

			$2
		"""

	'Directory Section':
		'prefix': 'dsec'
		'body': '//    _${1:Section}'

	'Directory Subsection':
		'prefix': 'dsub'
		'body': '//      ∟${1:Subsection}'


	##≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	## _Sections
	##≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡

	'Section':
		'prefix': 'sec'
		'body': """
			//≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
			// _${1:Section}
			//≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡

			$2
		"""

	'Subsection':
		'prefix': 'sub'
		'body': """
			//∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴
			// ∟${1:Subsection}
			//∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴

			$2
		"""

	##≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	## _DocBlocks (Notes)
	##≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡

	'Section DocBlock':
		'prefix': 'nsec'
		'body': """
			/** ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
			*
			n${1:desc}
			*
			*///≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡

			$2
		"""

	'Subsection DocBlock':
		'prefix': 'nsub'
		'body': """
			/** ∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵
			*
			n${1:desc}
			*
			*///∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴

			$2
		"""

	'DocBlock Description':
		'prefix': 'ndesc'
		'body': """
			*    Description:
			*    ${1:Start describing code below}
		"""

	'DocBlock Version':
		'prefix': 'nver'
		'body': """
			*    @version 1.0.0$1
		"""

	'DocBlock Return':
		'prefix': 'nret'
		'body': """
			*    @return ${1:string} $2
		"""

	'DocBlock Parameters':
		'prefix': 'npara'
		'body': """
			*    @param ${1:Parameter} $2
		"""

	'DocBlock See':
		'prefix': 'nsee'
		'body': """
			*    @see ${1:Reference} $2
		"""

	'DocBlock Function Use':
		'prefix': 'nuse'
		'body': """
			*    @uses ${1:Function Name}
			*       [${2:File Path}]
		"""